@font-face {
	font-family: "Museo Sans";
	src: url("@/assets/fonts/MuseoSans_100-webfont.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Museo Sans";
	src: url("@/assets/fonts/MuseoSans_300-webfont.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
