@use "sass:color";

@mixin generate-color-variables($colors) {
	@each $name, $hexColor in $colors {
		--#{$name}: #{$hexColor};
		--#{$name}-rgb: #{color.red($hexColor)}, #{color.green($hexColor)},
			#{color.blue($hexColor)};
	}
}

@function overlay() {
	$gradient-overlay: no-repeat bottom center / cover fixed
		linear-gradient(
			60deg,
			rgba(var(--accent1-color-rgb), 0.5) 5%,
			rgba(var(--accent2-color-rgb), 0.35)
		);

	@return $gradient-overlay;
}

:root {
	// Colors
	$colors: (
		"background-color": #ffffff,
	);
	@include generate-color-variables($colors);

	--background-alt-color: #e1dfe8;
	--foreground-color: #414f57;
	--foreground-bold-color: #313f47;
	--foreground-light-color: #616f77;
	--border-color: #c8cccf;
	--border-color-rgb: 200, 204, 207;
	--accent1-color: #7cecb4;
	--accent1-color-rgb: 126, 237, 181;
	--accent2-color: #6c8dff;
	--accent2-color-rgb: 108, 141, 255;
	--highlight-color: #91e6cf;

	// Loading overlay
	--loading-transition: 1.75s ease-out;

	// Card properties
	--card-padding: 2.5rem;
	--card-border-radius: 0.5rem;

	// Text slider
	--slider-duration: 0.75s;
	--slider-transform: translateX(2em);

	// Typography
	font: 300 clamp(0.625rem, 1vw + 0.5rem, 1.5rem) Museo Sans, sans-serif;
}
