---
import Layout from "@layouts/Layout.astro";
---

<Layout>
	<section>
		<h1>Hi, I'm Norman 👋</h1>

		<p>
			Welcome to my site! I'm a software engineer, tech enthusiast, nature lover
			and gamer from Germany.
		</p>
	</section>

	<section>
		<h2>Projects</h2>

		<ul>
			<li>
				<a href="/projects/astro">Astro</a>
			</li>
			<li>
				<a href="/projects/astro-starter">Astro Starter</a>
			</li>
			<li>
				<a href="/projects/astro-ssr">Astro SSR</a>
			</li>
		</ul>
	</section>
</Layout>
