---
import childProcess from "child_process";

const commitHash = childProcess
	.execSync("git rev-parse HEAD")
	.toString()
	.trim();

const buildDate = new Date();
---

<footer>
	<div>© totkeks</div>

	<div>
		Last update:
		<time datetime={buildDate.toISOString()}>
			{buildDate.toLocaleString([], { dateStyle: "short" })}
			{buildDate.toLocaleString([], { hour12: false, timeStyle: "short" })}
		</time>
	</div>

	<div>
		Version:
		<a href={`https://github.com/totkeks/totkeks.xyz/commit/${commitHash}`}>
			{commitHash.slice(0, 7)}
		</a>
	</div>
</footer>

<style>
	footer {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		position: sticky;
		bottom: 0;
		gap: 0.5rem;
	}
</style>
